

 
 <section class="section-intro bg-primary padding-y-lg">
	<div class="container">

	  <article class="my-5">
       <p class= "display-4 text-white"> This is Admin page </p> 
       <p class="lead text-white"></p>
	    
        <button class="btn btn-primary" class="nav-link" routerLink="/user" >See the User</button>
        <br>
        <button class="btn btn-primary" class="nav-link" routerLink="/product" >see Avaliable tickets </button>
        <br>
        <button class="btn btn-primary" class="nav-link" routerLink="/categories" >see Airline </button>
        <br>
	    
	  </article>

	</div> <!-- container end.// -->
</section>

<h1> add Tickets </h1>
<table>
    <tr>
        <td>Airline Name</td>
        <td>
            <input [(ngModel)]="adminModel.productName" type="text">
        </td>
    </tr>
    <tr>
        <td>Socure and destination</td>
        <td>
            <input [(ngModel)]="adminModel.productDescription" type="text">
        </td>
    </tr>
    <tr>
        <td>Number OF seats</td>
        <td>
            <input [(ngModel)]="adminModel.catID" type="text">
        </td>
    </tr>
    
    <tr>
        <td>Price/td>
        <td>
            <td>
                <input [(ngModel)]="adminModel.productImage" type="text">
            </td>
        
    <input type="submit" (click)="Addadmin()">
    <input type="button" (click)="getData()" value="see order product"/>
</table>
<!-- {{CustomerModel.CustomerAmount}}
{{CustomerModel.CustomerName}}
{{CustomerModel.CustomerCode}} -->

<table border="2">
    <tr>
        <td>Product name</td>
        <td>Product description</td>
        <td>cat id</td>
        <td>Actions</td>
    </tr>
    <tr *ngFor="let Product of adminModels">
        <td>
            {{Product.productName}}
        </td>
        <td> {{Product.productDescription}}
        </td>
        <td> {{Product.catID}}
        </td>
        <td>
            <td> {{Product.productImage}}
            </td>
            <td>
    

            

            <input type="button" value="Edit" (click)="EditCustomer(Product)" />
            <input type="button" value="Delete" (click)="DeleteCustomer(Product)" />
        </td>
    </tr>
</table>