
<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let product of productt | filter:searchKey:'productDescription'">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{product.productName}}</h5>
                <p class="card-text">{{product.productDescription}}</p>
                <p class="card-text">{{product.productDiscount}}</p>
                <p class="card-text">{{product.productDescription}}</p>

                <td>   <button  (click)="goto()" class="btn btn-primary">Book</button></td>
            </div>
        </div>
    </div>
  </div>