

  <body>
    <div class="about-section">
      <div class="inner-width">
        <h1>About Us</h1>
        <div class="border"></div>
        <div class="about-section-row">
          <div class="about-section-col">
            <div class="about">
              <p>
                Stylish Outfits For Women for  Winter 2022
              </p>
            
            <p class="mb-8 leading-relaxed">Lets do SHOPPING</p>
            <div class="flex justify-center">
              Most of us love looking fashionable, regardless of the weather. With summer temperatures soaring, it’s sometimes tough to strike a balance between looking stylish and staying comfortable in your daily summer outfits for women. For a great brand that carries lightweight summer essentials, take a look at BIOminist.com!

</div>
            </div>
          </div>
          <div class="about-section-col">
            <div class="skills">
              <div class="skill">
                <div class="title">Order Product</div>
                <div class="progress">
                  <div class="progress-bar p1"><span>90%</span></div>
                </div>
              </div>

              <div class="skill">
                <div class="title">Get Offer</div>
                <div class="progress">
                  <div class="progress-bar p2"><span>70%</span></div>
                </div>
              </div>

              <div class="skill">
                <div class="title"> BIOminist</div>
                <div class="progress">
                  <div class="progress-bar p3"><span>50%</span></div>
                </div>
              </div>

              <h2 style="text-align:center">Our Team Contact Details</h2>
              <p>BIOminist@gmail.com</p>

